<launch>
    <!-- miro_drive -->
    <node pkg="miro_drive" type="miro_drive.py" name="miro_drive" output="screen" />

    <!-- motor node -->
    <include file="$(find xycar_motor)/launch/xycar_motor.launch" />

    <!-- lidar node -->
    <include file="$(find xycar_lidar)/launch/lidar_noviewer.launch" />

    <!--  imu node -->
    <include file="$(find xycar_imu)/launch/xycar_imu_9dof.launch" />

    <!--  realsense2 node -->
    <include file="$(find realsense2_camera)/launch/demo_pointcloud.launch" />
</launch>